# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore

*

!.gitignore

!*.md
!*.py
!.github/
!.github/workflows/
!.github/workflows/*.yml
!docs/
!docs/*.md
!templates/
!templates/*.xml

!Dockerfile
!.dockerignore
!config-example.yaml
!docker-compose.yaml
!requirements.txt

llmcord.my-updates.py
.omx/
data/
